<h1>Add a new photo</h1>

<form action="/create_photo">
    <dl>
        <dd>
            <label for="pic">Image URL</label>
        </dd>
        <dt>
            <input type="text" id="pic" name="the_source">
        </dt>
        <dt>
            <button>Create Photo</button>
        </dt>
    </dl>
</form>